* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
}

.row {
    width: 100%;
}

p {
    font-size: 20px;
    padding: 10px;
    padding-top: 35px;
    background-color: rgba(218, 218, 218, 0.596);
    border: 1px solid black;
}

.heading {
    color: black;
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
    padding: 40px;
}

.sectiontitle {
    font-size: 25px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid black;
    float: right;
}

#pizza {
    background-color: coral;
}

#pasta {
    background-color: rgb(175, 241, 121);
}

#gelato {
    background-color: rgb(255, 203, 126);
}

.row > section {
    padding: 20px;
}

@media (min-width: 991px) {
    .col-dk-1,.col-dk-2,.col-dk-3,.col-dk-4,.col-dk-5,.col-dk-6,.col-dk-7,.col-dk-8,.col-dk-9,.col-dk-10,.col-dk-11,.col-dk-12 {   /*dk - desktop*/
        float: left;
    }
    .col-dk-1 {
        width: 8.33%;
    }

    .col-dk-2 {
        width: 16.66%;
    }

    .col-dk-3 {
        width: 25%;
    }

    .col-dk-4 {
        width: 33.33%;
    }

    .col-dk-5 {
        width: 41.66%;
    }

    .col-dk-6 {
        width: 50%;
    }

    .col-dk-7 {
        width: 58.33%;
    }

    .col-dk-8 {
        width: 66.66%;
    }

    .col-dk-9 {
        width: 75%;
    }

    .col-dk-10 {
        width: 83.33%;
    }

    .col-dk-11 {
        width: 91.66%;
    }

    .col-dk-12 {
        width: 100%;
    }
}

/*fractional value for max-width since the value of the reported pixels is not an integer, but some decimal 991.x px between 991px and 992px */

@media (min-width: 768px) and (max-width: 991.5px) { 
    .col-tb-1,.col-tb-2,.col-tb-3,.col-tb-4,.col-tb-5,.col-tb-6,.col-tb-7,.col-tb-8,.col-tb-9,.col-tb-10,.col-tb-11,.col-tb-12 {   /*tb - tablet*/
        float: left;
    }
    .col-tb-1 {
        width: 8.33%;
    }

    .col-tb-2 {
        width: 16.66%;
    }

    .col-tb-3 {
        width: 25%;
    }

    .col-tb-4 {
        width: 33.33%;
    }

    .col-tb-5 {
        width: 41.66%;
    }

    .col-tb-6 {
        width: 50%;
    }

    .col-tb-7 {
        width: 58.33%;
    }

    .col-tb-8 {
        width: 66.66%;
    }

    .col-tb-9 {
        width: 75%;
    }

    .col-tb-10 {
        width: 83.33%;
    }

    .col-tb-11 {
        width: 91.66%;
    }

    .col-tb-12 {
        width: 100%;
    }
}

/*fractional value for max-width since the value of the reported pixels is not an integer, but some decimal 767.x px between 767px and 768px */

@media (min-width: 1px) and (max-width: 767.5px) {
    .col-mb-1,.col-mb-2,.col-mb-3,.col-mb-4,.col-mb-5,.col-mb-6,.col-mb-7,.col-mb-8,.col-mb-9,.col-mb-10,.col-mb-11,.col-mb-12 {   /*mb - mobile*/
        float: left;
    }
    .col-mb-1 {
        width: 8.33%;
    }

    .col-mb-2 {
        width: 16.66%;
    }

    .col-mb-3 {
        width: 25%;
    }

    .col-mb-4 {
        width: 33.33%;
    }

    .col-mb-5 {
        width: 41.66%;
    }

    .col-mb-6 {
        width: 50%;
    }

    .col-mb-7 {
        width: 58.33%;
    }

    .col-mb-8 {
        width: 66.66%;
    }

    .col-mb-9 {
        width: 75%;
    }

    .col-mb-10 {
        width: 83.33%;
    }

    .col-mb-11 {
        width: 91.66%;
    }

    .col-mb-12 {
        width: 100%;
    }
}
